.surveyBox {
  padding: 2rem;
  border: 1px solid var(--clr-grey-light);
  background-color: var(--clr-grey-dark);
}

.surveyBox h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.surveyBox h2 > span {
  font-size: 2rem;
  font-weight: normal;
}

.surveyDetails {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.surveyDetails .actions {
  display: flex;
  gap: 1rem;
}

.surveyDetails .actions .surveyDeadline {
  min-width: max-content;
  padding: 1rem;
  border: 1px solid var(--clr-grey-light);
  background-color: var(--clr-grey-dark);
}
